/* Estilos generales */
body {
    background-color: #000; /* Fondo negro para simular una pantalla retro */
    font-family: 'Press Start 2P', cursive; /* Fuente pixelada retro */
    color: #fff; /* Texto blanco para contraste */
    margin: 0;
    padding: 0;
}

h1 {
    color: #ff0; /* Amarillo brillante */
    text-align: center;
    font-size: 36px;
    text-shadow: 4px 4px #f00; /* Sombra roja para efecto pixelado */
    margin-top: 20px;
}

h2 {
    color: #0f0; /* Verde brillante */
    font-size: 24px;
    margin-top: 20px;
    text-shadow: 2px 2px #f00; /* Sombra roja */
}

p {
    font-size: 14px; /* Tamaño de fuente más pequeño para estilo retro */
    color: #0f0; /* Verde brillante */
    margin: 8px 0;
}

span {
    font-weight: bold;
    color: #f00; /* Rojo brillante para destacar */
}

/* Contenedor del ticket */
.ticket-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #222; /* Fondo oscuro */
    border: 4px solid #ff0; /* Borde amarillo brillante */
    border-radius: 0; /* Sin bordes redondeados */
    box-shadow: 8px 8px 0px #f00; /* Sombra roja para efecto 3D retro */
}

/* Detalles del pedido */
.detalles-pedido {
    margin-top: 20px;
    padding: 10px;
    background-color: #000; /* Fondo negro */
    border: 2px solid #ff0; /* Borde amarillo */
}

.detalles-pedido p {
    margin: 5px 0;
}

/* Total */
.total {
    color: #f00; /* Rojo brillante */
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}